{:server {:hostname "0.0.0.0"
          :port 8080
          :allowed-origins #resource-config/edn #resource-config/env "ALLOWED_ORIGINS"}
 :rabbitmq {:connection {:host #resource-config/env "RABBITMQ_PORT_5672_TCP_ADDR"
                         :port #resource-config/edn #resource-config/env "RABBITMQ_PORT_5672_TCP_PORT"}
            :kehaar {:incoming-services
                     [{:queue "vote-by-mail-http-api.ok"
                       :f vote-by-mail-http-api.handlers/ok
                       :response true
                       :threads 2
                       :prefetch-limit 2}]

                     :external-services
                     [{:queue "vote-by-mail-works.voter.apply"
                       :channel vote-by-mail-http-api.channels/voter-apply
                       :response true
                       :timeout 20000}]}}
 :timeouts {:voter-apply 20000 ; milliseconds
            }
}
