{:server {:hostname "0.0.0.0"
          :port 8080
          :allowed-origins #resource-config/edn #resource-config/env "ALLOWED_ORIGINS"}
 :rabbitmq {:connection {:host #resource-config/env "RABBITMQ_PORT_5672_TCP_ADDR"
                         :port #resource-config/edn #resource-config/env "RABBITMQ_PORT_5672_TCP_PORT"}
            :queues {"vote-by-mail-http-api.ok" {:exclusive false :durable true :auto-delete false}
                     "vote-by-mail-works.voter.apply" {:exclusive false :durable true :auto-delete false}}}
 :timeouts {:voter-apply 20000 ; milliseconds
            }
}
